body {
    margin: 0;
}

main {
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
   
}

.container {
    width: 100vw;
    height: 300px;
    background-image: url("field-grass.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.game {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fireball {
    position: relative;
    transform: rotate(90deg);
    animation: fireshoot 1.12s ease-in-out infinite;
}

.fireball img {
    width: 75px;
    box-shadow: 2px 8px 5px red;
    border-radius: 50%;
    padding: 5px;
}

.codemon img {
    width: 100px;
    border-radius: 50%;
    margin: 0 25px;
}

@keyframes fireshoot {
    0% {
        right: 0px;
    }

    100% {
        right: 100vw;
    }
}

@media screen and (min-width: 500px) {
    
}